@import url("../scss/bannerAnimation.scss");
.waveObjectArea__item--start {
  transition-duration: 1.5s;
}

.waveObjectArea__item--down {
  transition-duration: 2s;
}
.waveObjectArea__item--down .waveObject {
  transition-duration: 2s;
}

.waveObjectArea__item--up {
  transition: 3s;
}
.waveObjectArea__item--up .waveObject {
  transition-duration: 3s;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(1) {
  height: 3.6079717281%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(1) {
  height: 3.1728482378%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(1),
.waveObjectArea__item--ballStart:nth-child(1) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(1) {
  transform: translateY(3.6111792775vw);
}
.waveObjectArea__item--start:nth-child(1) .waveObject {
  background-position: 0 -1.3135780461%;
}

.waveObjectArea__item--down:nth-child(1) {
  transform: translateY(-3.1776745242vw);
}
.waveObjectArea__item--down:nth-child(1) .waveObject {
  background-position: 0 -8.0355313319%;
}

.waveObjectArea__item--up:nth-child(1) {
  transform: translateY(3.0459637053vw);
}
.waveObjectArea__item--up:nth-child(1) .waveObject {
  background-position: 0 4.5870043875%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(2) {
  height: 12.040509121%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(2) {
  height: 17.6168436937%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(2),
.waveObjectArea__item--ballStart:nth-child(2) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(2) {
  transform: translateY(2.6552995304vw);
}
.waveObjectArea__item--start:nth-child(2) .waveObject {
  background-position: 0 3.3959777092%;
}

.waveObjectArea__item--down:nth-child(2) {
  transform: translateY(-2.3875985976vw);
}
.waveObjectArea__item--down:nth-child(2) .waveObject {
  background-position: 0 -8.5133944515%;
}

.waveObjectArea__item--up:nth-child(2) {
  transform: translateY(2.2036120224vw);
}
.waveObjectArea__item--up:nth-child(2) .waveObject {
  background-position: 0 -7.1579947987%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(3) {
  height: 22.8540962397%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(3) {
  height: 32.9718786877%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(3),
.waveObjectArea__item--ballStart:nth-child(3) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(3) {
  transform: translateY(1.4269392713vw);
}
.waveObjectArea__item--start:nth-child(3) .waveObject {
  background-position: 0 2.7319971509%;
}

.waveObjectArea__item--down:nth-child(3) {
  transform: translateY(-1.9937187058vw);
}
.waveObjectArea__item--down:nth-child(3) .waveObject {
  background-position: 0 -9.8668171488%;
}

.waveObjectArea__item--up:nth-child(3) {
  transform: translateY(1.4640052774vw);
}
.waveObjectArea__item--up:nth-child(3) .waveObject {
  background-position: 0 0.451648862%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(4) {
  height: 29.223581554%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(4) {
  height: 17.0030142893%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(4),
.waveObjectArea__item--ballStart:nth-child(4) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(4) {
  transform: translateY(0.4353758343vw);
}
.waveObjectArea__item--start:nth-child(4) .waveObject {
  background-position: 0 -8.9645252441%;
}

.waveObjectArea__item--down:nth-child(4) {
  transform: translateY(-0.4770291555vw);
}
.waveObjectArea__item--down:nth-child(4) .waveObject {
  background-position: 0 -9.7214847887%;
}

.waveObjectArea__item--up:nth-child(4) {
  transform: translateY(0.4675002442vw);
}
.waveObjectArea__item--up:nth-child(4) .waveObject {
  background-position: 0 5.1856300684%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(5) {
  height: 24.3654116544%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(5) {
  height: 32.1895131681%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(5),
.waveObjectArea__item--ballStart:nth-child(5) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(5) {
  transform: translateY(1.4351422993vw);
}
.waveObjectArea__item--start:nth-child(5) .waveObject {
  background-position: 0 4.3168702509%;
}

.waveObjectArea__item--down:nth-child(5) {
  transform: translateY(-1.5696294182vw);
}
.waveObjectArea__item--down:nth-child(5) .waveObject {
  background-position: 0 -0.3930832669%;
}

.waveObjectArea__item--up:nth-child(5) {
  transform: translateY(1.6863447319vw);
}
.waveObjectArea__item--up:nth-child(5) .waveObject {
  background-position: 0 0.3515332051%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(6) {
  height: 24.0098874075%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(6) {
  height: 26.614310288%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(6),
.waveObjectArea__item--ballStart:nth-child(6) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(6) {
  transform: translateY(1.0025315956vw);
}
.waveObjectArea__item--start:nth-child(6) .waveObject {
  background-position: 0 -6.0518940689%;
}

.waveObjectArea__item--down:nth-child(6) {
  transform: translateY(-1.3470664163vw);
}
.waveObjectArea__item--down:nth-child(6) .waveObject {
  background-position: 0 -5.3888136644%;
}

.waveObjectArea__item--up:nth-child(6) {
  transform: translateY(1.2772813801vw);
}
.waveObjectArea__item--up:nth-child(6) .waveObject {
  background-position: 0 5.9403093025%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(7) {
  height: 19.2365104666%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(7) {
  height: 12.790376%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(7),
.waveObjectArea__item--ballStart:nth-child(7) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(7) {
  transform: translateY(1.9189802171vw);
}
.waveObjectArea__item--start:nth-child(7) .waveObject {
  background-position: 0 2.1004899988%;
}

.waveObjectArea__item--down:nth-child(7) {
  transform: translateY(-2.5999170164vw);
}
.waveObjectArea__item--down:nth-child(7) .waveObject {
  background-position: 0 -1.6416373116%;
}

.waveObjectArea__item--up:nth-child(7) {
  transform: translateY(2.4377614138vw);
}
.waveObjectArea__item--up:nth-child(7) .waveObject {
  background-position: 0 -7.0570648052%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(8) {
  height: 10.5040306296%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(8) {
  height: 14.0589926355%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(8),
.waveObjectArea__item--ballStart:nth-child(8) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(8) {
  transform: translateY(3.2799512861vw);
}
.waveObjectArea__item--start:nth-child(8) .waveObject {
  background-position: 0 4.1891150039%;
}

.waveObjectArea__item--down:nth-child(8) {
  transform: translateY(-3.124381625vw);
}
.waveObjectArea__item--down:nth-child(8) .waveObject {
  background-position: 0 -7.4961597323%;
}

.waveObjectArea__item--up:nth-child(8) {
  transform: translateY(3.5006896532vw);
}
.waveObjectArea__item--up:nth-child(8) .waveObject {
  background-position: 0 9.3900470653%;
}/*# sourceMappingURL=bannerAnimation-Animation.css.map */