@import url("../scss/bannerAnimation.scss");
.waveObjectArea__item--start {
  transition-duration: 1.5s;
}

.waveObjectArea__item--down {
  transition-duration: 2s;
}
.waveObjectArea__item--down .waveObject {
  transition-duration: 2s;
}

.waveObjectArea__item--up {
  transition: 3s;
}
.waveObjectArea__item--up .waveObject {
  transition-duration: 3s;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(1) {
  height: 3.4377921923%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(1) {
  height: 3.6780667982%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(1),
.waveObjectArea__item--ballStart:nth-child(1) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(1) {
  transform: translateY(2.7696105249vw);
}
.waveObjectArea__item--start:nth-child(1) .waveObject {
  background-position: 0 -8.4901458023%;
}

.waveObjectArea__item--down:nth-child(1) {
  transform: translateY(-3.7080679895vw);
}
.waveObjectArea__item--down:nth-child(1) .waveObject {
  background-position: 0 -4.1177904051%;
}

.waveObjectArea__item--up:nth-child(1) {
  transform: translateY(2.8043072155vw);
}
.waveObjectArea__item--up:nth-child(1) .waveObject {
  background-position: 0 -3.78523536%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(2) {
  height: 16.0629148887%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(2) {
  height: 23.1192188827%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(2),
.waveObjectArea__item--ballStart:nth-child(2) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(2) {
  transform: translateY(1.8163963803vw);
}
.waveObjectArea__item--start:nth-child(2) .waveObject {
  background-position: 0 -6.6119626636%;
}

.waveObjectArea__item--down:nth-child(2) {
  transform: translateY(-1.8520103324vw);
}
.waveObjectArea__item--down:nth-child(2) .waveObject {
  background-position: 0 -8.2108408271%;
}

.waveObjectArea__item--up:nth-child(2) {
  transform: translateY(2.1945511396vw);
}
.waveObjectArea__item--up:nth-child(2) .waveObject {
  background-position: 0 1.1596567494%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(3) {
  height: 23.209388214%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(3) {
  height: 23.7149751857%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(3),
.waveObjectArea__item--ballStart:nth-child(3) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(3) {
  transform: translateY(1.5669331474vw);
}
.waveObjectArea__item--start:nth-child(3) .waveObject {
  background-position: 0 -7.2096578375%;
}

.waveObjectArea__item--down:nth-child(3) {
  transform: translateY(-1.3204455543vw);
}
.waveObjectArea__item--down:nth-child(3) .waveObject {
  background-position: 0 7.0708215315%;
}

.waveObjectArea__item--up:nth-child(3) {
  transform: translateY(1.4102447217vw);
}
.waveObjectArea__item--up:nth-child(3) .waveObject {
  background-position: 0 8.8282156019%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(4) {
  height: 37.311674626%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(4) {
  height: 42.2791250919%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(4),
.waveObjectArea__item--ballStart:nth-child(4) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(4) {
  transform: translateY(0.4374030509vw);
}
.waveObjectArea__item--start:nth-child(4) .waveObject {
  background-position: 0 3.0345071016%;
}

.waveObjectArea__item--down:nth-child(4) {
  transform: translateY(-0.3938522171vw);
}
.waveObjectArea__item--down:nth-child(4) .waveObject {
  background-position: 0 0.3575227242%;
}

.waveObjectArea__item--up:nth-child(4) {
  transform: translateY(0.3920530728vw);
}
.waveObjectArea__item--up:nth-child(4) .waveObject {
  background-position: 0 -4.4959825363%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(5) {
  height: 21.5629859848%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(5) {
  height: 34.6843858822%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(5),
.waveObjectArea__item--ballStart:nth-child(5) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(5) {
  transform: translateY(1.3542375855vw);
}
.waveObjectArea__item--start:nth-child(5) .waveObject {
  background-position: 0 -4.6490318435%;
}

.waveObjectArea__item--down:nth-child(5) {
  transform: translateY(-1.7125801234vw);
}
.waveObjectArea__item--down:nth-child(5) .waveObject {
  background-position: 0 -6.0764744935%;
}

.waveObjectArea__item--up:nth-child(5) {
  transform: translateY(1.5244381216vw);
}
.waveObjectArea__item--up:nth-child(5) .waveObject {
  background-position: 0 4.8317194053%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(6) {
  height: 32.2889386942%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(6) {
  height: 20.6434091719%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(6),
.waveObjectArea__item--ballStart:nth-child(6) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(6) {
  transform: translateY(1.1625840491vw);
}
.waveObjectArea__item--start:nth-child(6) .waveObject {
  background-position: 0 6.8945366347%;
}

.waveObjectArea__item--down:nth-child(6) {
  transform: translateY(-1.3103947679vw);
}
.waveObjectArea__item--down:nth-child(6) .waveObject {
  background-position: 0 -9.9060836595%;
}

.waveObjectArea__item--up:nth-child(6) {
  transform: translateY(1.2974637889vw);
}
.waveObjectArea__item--up:nth-child(6) .waveObject {
  background-position: 0 2.1670424557%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(7) {
  height: 14.0158444636%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(7) {
  height: 18.471455619%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(7),
.waveObjectArea__item--ballStart:nth-child(7) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(7) {
  transform: translateY(2.486022341vw);
}
.waveObjectArea__item--start:nth-child(7) .waveObject {
  background-position: 0 9.3263731548%;
}

.waveObjectArea__item--down:nth-child(7) {
  transform: translateY(-2.2440117374vw);
}
.waveObjectArea__item--down:nth-child(7) .waveObject {
  background-position: 0 -4.3835296158%;
}

.waveObjectArea__item--up:nth-child(7) {
  transform: translateY(1.8695859615vw);
}
.waveObjectArea__item--up:nth-child(7) .waveObject {
  background-position: 0 -7.4778666138%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(8) {
  height: 8.7270339194%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(8) {
  height: 11.5676817536%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(8),
.waveObjectArea__item--ballStart:nth-child(8) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(8) {
  transform: translateY(2.954930544vw);
}
.waveObjectArea__item--start:nth-child(8) .waveObject {
  background-position: 0 5.9045513241%;
}

.waveObjectArea__item--down:nth-child(8) {
  transform: translateY(-2.8318099394vw);
}
.waveObjectArea__item--down:nth-child(8) .waveObject {
  background-position: 0 5.2205762399%;
}

.waveObjectArea__item--up:nth-child(8) {
  transform: translateY(3.2842124983vw);
}
.waveObjectArea__item--up:nth-child(8) .waveObject {
  background-position: 0 8.7080491877%;
}/*# sourceMappingURL=bannerAnimation-Animation.css.map */