@import url("../scss/bannerAnimation.scss");
.waveObjectArea__item--start {
  transition-duration: 1.5s;
}

.waveObjectArea__item--down {
  transition-duration: 2s;
}
.waveObjectArea__item--down .waveObject {
  transition-duration: 2s;
}

.waveObjectArea__item--up {
  transition: 3s;
}
.waveObjectArea__item--up .waveObject {
  transition-duration: 3s;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(1) {
  height: 4.0284798327%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(1) {
  height: 4.9956349681%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(1),
.waveObjectArea__item--ballStart:nth-child(1) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(1) {
  transform: translateY(3.5477659389vw);
}
.waveObjectArea__item--start:nth-child(1) .waveObject {
  background-position: 0 0.7375455291%;
}

.waveObjectArea__item--down:nth-child(1) {
  transform: translateY(-3.3277886363vw);
}
.waveObjectArea__item--down:nth-child(1) .waveObject {
  background-position: 0 1.1868342244%;
}

.waveObjectArea__item--up:nth-child(1) {
  transform: translateY(3.2191433637vw);
}
.waveObjectArea__item--up:nth-child(1) .waveObject {
  background-position: 0 -5.4885871914%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(2) {
  height: 13.0890942986%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(2) {
  height: 13.3052827245%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(2),
.waveObjectArea__item--ballStart:nth-child(2) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(2) {
  transform: translateY(1.8641202508vw);
}
.waveObjectArea__item--start:nth-child(2) .waveObject {
  background-position: 0 -9.9357107638%;
}

.waveObjectArea__item--down:nth-child(2) {
  transform: translateY(-2.5457429662vw);
}
.waveObjectArea__item--down:nth-child(2) .waveObject {
  background-position: 0 -2.2155255074%;
}

.waveObjectArea__item--up:nth-child(2) {
  transform: translateY(2.7176947066vw);
}
.waveObjectArea__item--up:nth-child(2) .waveObject {
  background-position: 0 7.9620203017%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(3) {
  height: 18.4291414789%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(3) {
  height: 33.7609085428%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(3),
.waveObjectArea__item--ballStart:nth-child(3) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(3) {
  transform: translateY(1.5805836107vw);
}
.waveObjectArea__item--start:nth-child(3) .waveObject {
  background-position: 0 4.7187681477%;
}

.waveObjectArea__item--down:nth-child(3) {
  transform: translateY(-1.959377098vw);
}
.waveObjectArea__item--down:nth-child(3) .waveObject {
  background-position: 0 -9.0515980097%;
}

.waveObjectArea__item--up:nth-child(3) {
  transform: translateY(1.5919839636vw);
}
.waveObjectArea__item--up:nth-child(3) .waveObject {
  background-position: 0 -8.8427087531%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(4) {
  height: 40.3126565791%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(4) {
  height: 40.4628033505%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(4),
.waveObjectArea__item--ballStart:nth-child(4) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(4) {
  transform: translateY(0.4506792867vw);
}
.waveObjectArea__item--start:nth-child(4) .waveObject {
  background-position: 0 -4.4163290862%;
}

.waveObjectArea__item--down:nth-child(4) {
  transform: translateY(-0.4878495747vw);
}
.waveObjectArea__item--down:nth-child(4) .waveObject {
  background-position: 0 -4.8388472333%;
}

.waveObjectArea__item--up:nth-child(4) {
  transform: translateY(0.3765277304vw);
}
.waveObjectArea__item--up:nth-child(4) .waveObject {
  background-position: 0 2.0734187983%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(5) {
  height: 20.2449629422%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(5) {
  height: 11.643651988%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(5),
.waveObjectArea__item--ballStart:nth-child(5) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(5) {
  transform: translateY(1.2933143149vw);
}
.waveObjectArea__item--start:nth-child(5) .waveObject {
  background-position: 0 2.0581230276%;
}

.waveObjectArea__item--down:nth-child(5) {
  transform: translateY(-1.9113468103vw);
}
.waveObjectArea__item--down:nth-child(5) .waveObject {
  background-position: 0 6.2908593527%;
}

.waveObjectArea__item--up:nth-child(5) {
  transform: translateY(1.4953356621vw);
}
.waveObjectArea__item--up:nth-child(5) .waveObject {
  background-position: 0 6.9925249714%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(6) {
  height: 24.5957618209%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(6) {
  height: 11.1753510136%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(6),
.waveObjectArea__item--ballStart:nth-child(6) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(6) {
  transform: translateY(1.2693696249vw);
}
.waveObjectArea__item--start:nth-child(6) .waveObject {
  background-position: 0 -0.3514560045%;
}

.waveObjectArea__item--down:nth-child(6) {
  transform: translateY(-1.3666543931vw);
}
.waveObjectArea__item--down:nth-child(6) .waveObject {
  background-position: 0 -5.1975137632%;
}

.waveObjectArea__item--up:nth-child(6) {
  transform: translateY(1.3260435565vw);
}
.waveObjectArea__item--up:nth-child(6) .waveObject {
  background-position: 0 1.4021369281%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(7) {
  height: 15.4226950935%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(7) {
  height: 21.3172287721%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(7),
.waveObjectArea__item--ballStart:nth-child(7) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(7) {
  transform: translateY(2.9260778694vw);
}
.waveObjectArea__item--start:nth-child(7) .waveObject {
  background-position: 0 9.6687204381%;
}

.waveObjectArea__item--down:nth-child(7) {
  transform: translateY(-2.3208952711vw);
}
.waveObjectArea__item--down:nth-child(7) .waveObject {
  background-position: 0 2.9596261601%;
}

.waveObjectArea__item--up:nth-child(7) {
  transform: translateY(2.9869833221vw);
}
.waveObjectArea__item--up:nth-child(7) .waveObject {
  background-position: 0 9.8235764875%;
}

.waveObjectArea__item {
  border-radius: 2.5vw;
}
.waveObjectArea__item:nth-child(8) {
  height: 9.0983223288%;
}

.waveObjectArea__item--set {
  border-radius: 2.5vw;
}
.waveObjectArea__item--set:nth-child(8) {
  height: 6.3903331484%;
}

.waveObjectArea__item--ball,
.waveObjectArea__item--ballStart {
  border-radius: 2.5vw;
}
.waveObjectArea__item--ball:nth-child(8),
.waveObjectArea__item--ballStart:nth-child(8) {
  height: 2.5vw;
  transform: scale(1);
  background-position: 0 center;
  transition-duration: 1.5s;
}

.waveObjectArea__item--start:nth-child(8) {
  transform: translateY(2.5989954408vw);
}
.waveObjectArea__item--start:nth-child(8) .waveObject {
  background-position: 0 -1.9249619438%;
}

.waveObjectArea__item--down:nth-child(8) {
  transform: translateY(-2.2834355931vw);
}
.waveObjectArea__item--down:nth-child(8) .waveObject {
  background-position: 0 1.2138566969%;
}

.waveObjectArea__item--up:nth-child(8) {
  transform: translateY(2.7664072966vw);
}
.waveObjectArea__item--up:nth-child(8) .waveObject {
  background-position: 0 -5.465788496%;
}/*# sourceMappingURL=bannerAnimation-Animation.css.map */