main.index {
  width: 100%;
  position: relative;

  .first-page {
    width: 100%;
    height: auto;

    @include mobile {
      margin-bottom: 0px;
    }

    //手機版Swiper 樣式

    .swiper.ph {
      .button-prev,
      .button-next {
        display: none;
      }
    }

    //電腦版Swiper 樣式
    .swiper.pc {
      width: 100%;
      height: 95vh;

      .swiper-container {
        width: 100%;
        height: 100vh;
        background-color: rgb(179, 189, 196);
        transition: 1s background-color 1.3s;
      }
      .swiper-wrapper {
        transition-delay: 1s;
        transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .img-box {
        width: 100%;
        height: 100%;
        position: absolute;
        transform: scale(0.6, 0.6);
        transition-duration: 1s;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
        opacity: 0.9;
        overflow: hidden;

        @include mobile {
          position: relative;
        }
      }

      .img-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.2, 1.2) translateX(50%);
        transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
        transition-property: transform;
      }
      .button-prev,
      .button-next {
        transition: 0.5s;
        outline: none;
        position: absolute;
        width: 140px;
        z-index: 10;
        bottom: 5vh;
        transform: translateY(-34px);
        cursor: pointer;
      }
      .button-prev {
        left: 4vw;
      }
      .button-next {
        right: 4vw;
      }
      .button.disabled {
        opacity: 0.2;
        cursor: default;
      }
      #arrow-svg-home {
        transform: translateY(353px);
      }
      .button-next #arrow-svg-home {
        transform: translateY(353px) rotateY(180deg);
        transform-origin: 80px 0px 0px;
      }
      svg {
        transition: 0.5s;
      }

      .cls-1 {
        transition: 0.5s;
        opacity: 0.4;
        transform-origin: -20px 40px;
        opacity: 1;
      }

      .cls-4 {
        transition: 0.5s;
        stroke: #fff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3px;
        stroke-dasharray: 3 9;
        opacity: 0.4;
        transform-origin: 42px 42px;
        animation-name: spinInfinite;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      #arrow-trg {
        transition: 0.5s;
        fill: #fff;
        transform: rotateY(180deg) translate(-53px, 39px);
      }
      #line {
        transition: 0.5s;
        stroke: #fff;
        transform: translate(50px, 42px);
      }
      .button-prev:not(.disabled):hover svg {
        transform: translateX(-25px);
      }
      .button-next:not(.disabled):hover svg {
        transform: translateX(25px);
      }
      .button:not(.disabled):hover .cls-1 {
        transform: scale(1.1);
      }
      .button:not(.disabled):hover .cls-4 {
        stroke-dasharray: 3 6;
        opacity: 1;
      }
      .button:not(.disabled):hover #arrow-trg {
        transform: rotateY(180deg) translate(-37px, 39px);
      }
      .button:not(.disabled):hover #line {
        transform: translate(35px, 42px) scaleX(0.33);
      }
    }
  }
  @keyframes spinInfinite {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .second-page {
    width: 100%;
    overflow: hidden;
    position: relative;

    @include mobile {
      margin-bottom: 0vw;
      margin-top: 4vw;
    }

    .text1 {
      position: relative;
      left: 40vw;
      width: auto;

      height: auto;
      padding: 5vh 0px;

      p {
        transition: 1s;
        letter-spacing: 0.2em;
        opacity: 0;
        position: relative;
        white-space: nowrap;
        font-size: 5vw;
        line-height: 5vw;
        font-family: "Cinzel Decorative", cursive;
        color: #dfd0c3;
      }

      &.active {
        p {
          opacity: 0.3;
          letter-spacing: 0.05em;

          @include mobile {
            font-size: pxConvertor2(50);
            line-height: pxConvertor2(50);
            opacity: 1;
          }
        }
      }

      @include mobile {
        margin-left: 22%;
        padding-bottom: 0px;
      }
    }

    .text2 {
      width: pxConvertor(2108.43);
      height: auto;
      position: relative;
      left: -20vw;
      white-space: nowrap;
      padding: 4vh 0px;
      font-family: "Cinzel Decorative", cursive;

      p {
        color: #dfd0c3;
        letter-spacing: 0.05em;
        opacity: 0.3;
        font-size: 4vw;
        line-height: 4vw;
      }

      @include mobile {
        position: relative;
        opacity: 1;
        margin: auto;
        padding: 2vh 0px;

        p {
          opacity: 0.8;
        }
      }
    }

    .content {
      position: relative;
      width: 62.5%;
      margin: 0 auto;
      margin-bottom: 10vh;
      z-index: 10;

      @include mobile {
        width: 100%;
        height: auto;
        margin-bottom: 0vh;
        padding-left: 3vh;
        padding-right: 3vh;
      }

      .second-page-bg {
        overflow: hidden;
        width: pxConvertor(990);
        height: pxConvertor(494);

        @include mobile {
          width: 100%;
          height: auto;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .second-page-para {
        display: flex;
        justify-content: center;
        gap: 2.2vw;
        padding-top: 3vw;
        padding-bottom: 2vw;
        position: absolute;
        right: -5vw;
        bottom: -3vw;
        z-index: 3;
        width: pxConvertor(540);
        background-color: #bb8d52;

        @include mobile {
          width: 100%;
          height: auto;
          position: relative;
          right: 0;
          bottom: 0;
          padding: 5vw 8vw;
          gap: 8vw;
        }

        h2 {
          font-family: "Noto Sans TC", sans-serif;
          color: #fff;
        }

        .left {
          h2 {
            letter-spacing: 1em;
            writing-mode: vertical-lr;
          }
        }

        .right {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          width: pxConvertor(327.9);

          h2 {
            font-weight: 400;
            line-height: 1;
            margin-bottom: 1.2vw;

            @include mobile {
              margin-bottom: 2vh;
            }
          }

          p {
            color: #fff;
            line-height: 1.9;
            font-family: "Microsoft JhengHei,serif";

            @include mobile {
              line-height: 1.5;
            }
          }

          @include mobile {
            width: 100%;
          }
        }
      }
    }
  }

  .third-page {
    width: 100vw;
    margin-bottom: 4vw;

    .iframeDiv {
      @include mobile {
        height: auto;
        margin-bottom: 5vh;
      }
    }

    iframe {
      display: block;
      width: pxConvertor(1282);
      height: pxConvertor(726);
      object-fit: cover;
      margin: 0 auto;

      @include mobile {
        width: 90vw;
        height: 50vw;
      }
    }
  }

  $forthHoverTransition: 0.7s;

  .forth-page {
    width: 100%;
    margin-bottom: 4vw;

    @include mobile {
      margin-bottom: 15vw;
    }

    .content {
      width: 90%;
      margin: 0 auto;

      ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include mobile {
          flex-direction: column;
        }
        li {
          width: pxConvertor(385);
          cursor: pointer;

          @include mobile {
            width: 100%;
            margin-bottom: 5vw;
          }

          .imgBox {
            width: 100%;
            height: pxConvertor(385);

            @include mobile {
              height: auto;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .paraBox {
            background-color: #fff;
            transition: $forthHoverTransition;
            padding: 1.4vw;

            .top {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 97%;
              margin-bottom: 0.6vw;

              .date {
                display: flex;
                align-items: center;

                img {
                  width: pxConvertor(14.8333);
                  height: auto;

                  @include mobile {
                    width: 4vw;
                  }
                }

                p {
                  position: relative;
                  font-size: pxConvertor(14);
                  color: #3a3a3a;
                  font-family: "Montserrat", sans-serif;
                  margin-bottom: 0px;
                  margin-left: 2em;

                  @include mobile {
                    font-size: 4vw;
                  }

                  &::before {
                    opacity: 0.5;
                    display: block;
                    content: " ";
                    position: absolute;
                    top: 30%;
                    bottom: 30%;
                    margin: auto 0;
                    left: -1em;
                    width: 1px;
                    background-color: #3a3a3a;
                  }
                }
              }

              > span {
                display: block;
                position: relative;
                font-family: "Noto Sans TC", sans-serif;
                font-size: pxConvertor(14);
                color: $mainColor;
                letter-spacing: 0.1em;
                transition: $forthHoverTransition;

                @include mobile {
                  font-size: 4vw;
                }

                &::after,
                &::before {
                  position: absolute;
                  display: block;
                  content: "";
                  top: 30%;
                  bottom: 30%;
                  margin: auto 0;
                  width: 1px;
                  background-color: $mainColor;
                  transition: $forthHoverTransition;
                }

                &::after {
                  left: -1em;
                  @include mobile {
                    left: -0.7em;
                  }
                }

                &::before {
                  right: -1em;
                  @include mobile {
                    right: -0.7em;
                  }
                }
              }
            }

            .bottom {
              position: relative;
              padding-bottom: 0.5vw;

              h2 {
                font-size: pxConvertor(20);
                color: #3a3a3a;
                font-family: "Noto Sans TC", sans-serif;
                font-weight: 500;
                letter-spacing: 0.1em;
                margin-bottom: 0.3vw;

                @include mobile {
                  margin-top: 2vh;
                  font-size: pxConvertor2(36);
                  margin-bottom: 2vh;
                }
              }

              .para {
                display: flex;
                justify-content: space-between;
                width: 100%;

                p {
                  width: 75%;
                  font-family: "Noto Sans TC", sans-serif;
                  letter-spacing: 0.05em;
                  color: #3a3a3a;

                  @include mobile {
                    width: 100%;
                  }
                }

                .dot-area {
                  display: flex;
                  flex-direction: column;
                  gap: 1vw;
                  padding-top: 0.3vw;

                  .dot {
                    width: pxConvertor(6);
                    height: pxConvertor(6);
                    background-color: $mainColor;
                    border-radius: 50%;
                    transition: $forthHoverTransition;

                    @include mobile {
                      display: none;
                    }
                  }
                }
              }

              .more {
                align-self: flex-end;
                display: flex;
                align-items: baseline;
                justify-content: center;
                width: fit-content;
                margin: 3vw 0 0 auto;

                span {
                  font-family: "Montserrat", sans-serif;
                  color: $mainColor;
                  margin-right: 0.4vw;
                  transition: $forthHoverTransition;
                  font-weight: 600;
                  @include mobile {
                    margin-right: 2vw;
                    font-size: 1rem;
                  }
                }

                svg {
                  display: block;
                  width: pxConvertor(10);
                  height: auto;
                  fill: $mainColor;
                  transition: $forthHoverTransition;

                  @include mobile {
                    width: pxConvertor2(20);
                  }
                }
              }

              .melody {
                display: flex;
                align-items: flex-end;
                position: absolute;
                left: 0.2vw;
                bottom: 0;
                gap: 0.4vw;

                .bar {
                  width: pxConvertor(10);
                  background-color: $mainColor;
                  transform: scaleY(0);
                  transform-origin: center bottom;
                  transition: $forthHoverTransition;
                }

                .bar1 {
                  height: 3vw;
                  @include mobile {
                    height: 5vw;
                  }
                }

                .bar2 {
                  height: 2vw;
                  @include mobile {
                    height: 4vw;
                  }
                }

                .bar3 {
                  height: 1vw;
                  @include mobile {
                    height: 3vw;
                  }
                }
              }
            }
          }

          &:hover {
            .paraBox {
              background-color: #c19a6b;

              .top {
                span {
                  color: #fff;

                  &::after,
                  &::before {
                    background-color: #fff;
                  }
                }
              }

              .bottom {
                .melody {
                  .bar {
                    transform: scaleY(1);
                    background-color: #fff;
                  }
                }

                .more {
                  span {
                    color: #fff !important;
                  }

                  svg {
                    fill: #fff !important;
                  }
                }

                .para {
                  .dot-area {
                    .dot {
                      background-color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .fifth-page {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: pxConvertor(693);
    margin-bottom: 7vw;

    @include mobile {
      margin-bottom: 15vw;
      height: auto;
      justify-content: center;
      padding: 18vw 10vw;
    }
    .opacityDisplay {
      opacity: 1;
    }
    .fifth-page-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 20;
      }

      @include mobile {
        &::after {
          z-index: 50;
          content: " ";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }

    .fifth-page-para {
      position: relative;

      margin-right: 15vw;
      z-index: 60;

      @include mobile {
        margin-bottom: 5vw;
        margin-right: 0;
      }

      h2,
      h4,
      p {
        color: #fff;
        text-align: center;
      }

      h4 {
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        font-size: pxConvertor(18);
        line-height: 1.5;

        @include mobile {
          font-size: pxConvertor2($TitlefontSizeInPhone);
          margin-bottom: 1em;
        }
      }

      h2 {
        margin: 1.6vw 0 1.3vw;
        font-family: "Noto Sans TC", sans-serif;
        font-size: pxConvertor(22);
        letter-spacing: 0.05em;
        line-height: 1.5;
        color: $mainColor;

        @include mobile {
          font-size: pxConvertor2($TitlefontSizeInPhone);
          margin-bottom: 1em;
        }
      }

      > p {
        font-family: "Microsoft JhengHei,serif";
        letter-spacing: 0.1em;
        line-height: 2;
        margin-bottom: 2vw;

        @include mobile {
          margin-bottom: 10vw;
        }
      }

      .donate {
        display: flex;
        justify-content: center;
        align-items: center;
        width: pxConvertor(128.8);
        margin: 0 auto;
        background-color: #b64141;
        border-radius: 30px;
        cursor: pointer;

        p {
          font-size: pxConvertor(14);
          font-family: "Noto Sans TC", sans-serif;
          color: #fff;
          letter-spacing: 0.1em;
          padding: 0.4em 1.5em 0.4em 1.5em;
        }

        @include mobile {
          width: 50%;
          height: auto;
          padding: 0.2em 0;

          p {
            font-size: pxConvertor2(24);
          }
        }
      }
    }
  }

  .sixth-page {
    margin-bottom: 8vw;

    @include mobile {
      margin-bottom: 15vw;
    }

    .partnerBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: pxConvertor(1320);
      margin: 0 auto;

      img {
        height: pxConvertor(85);
        width: auto;
      }

      @include mobile {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2vw;
        width: 100%;
        padding: 0 5vw;

        li {
          width: 40%;
          margin-bottom: 5vw;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  .seventh-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: pxConvertor(1720);
    height: pxConvertor(500);
    margin: 0 auto 4vw;
    background-color: #eeeeee;

    @include mobile {
      width: 100%;
      height: auto;
      padding: 15vw 10vw;
      margin-bottom: 0px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      > input {
        width: pxConvertor(300);
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #cccccc;
        padding: 0 3px 5px 3px;
        letter-spacing: 0.05em;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #3a3a3a;
          letter-spacing: 0.05em;
        }

        @include mobile {
          width: 100%;
        }
      }

      .agree {
        margin: 1.5vw 0;
        display: flex;
        align-items: center;
        justify-content: center;
        > input[type="checkbox"] {
          height: 0.5vw;
          width: 0.5vw;
          @include mobile {
            width: auto;
            height: auto;
          }
        }
        @include mobile {
          margin: 3vw 0;
        }

        span {
          font-size: pxConvertor(14);
          font-family: "Microsoft JhengHei,serif";
          color: #3a3a3a;
          line-height: 1.5;
          margin-left: 0.5vw;
          @include mobile {
            font-size: 12px;
            letter-spacing: 0;
            margin-left: 5px;
          }
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: pxConvertor(128.8);
        height: pxConvertor(32);
        margin: 0 auto;
        background-color: #b64141;
        border-radius: 30px;
        cursor: pointer;
        font-size: pxConvertor(14);
        font-family: "Noto Sans TC", sans-serif;
        color: #fff;
        letter-spacing: 0.1em;
        border: none;

        @include mobile {
          width: 30%;
          height: auto;
          padding: 0.2em 0;
          font-size: pxConvertor2(30);
        }
      }
    }
  }
}
