@import "_config";
.waveObjectArea__item {
  .waveObject {
    background-image: linear-gradient(
      to right,
      rgba(213, 222, 239, 1) 0%,
      rgba(197, 212, 226, 1) 100%
    );
  }
  > .waveObject--0 {
    background-image: linear-gradient(
      to right,
      rgba(206, 216, 234, 1) 0%,
      rgba(197, 212, 226, 1) 100%
    );
  }
  > .waveObject--1 {
    background-image: linear-gradient(
      to right,
      rgba(197, 212, 226, 1) 0%,
      rgba(197, 212, 226, 1) 100%
    );
  }
  > .waveObject--2 {
    background-image: linear-gradient(
      to right,
      rgba(188, 201, 214, 1) 0%,
      rgba(197, 212, 226, 1) 100%
    );
  }
  > .waveObject--3 {
    background-image: linear-gradient(
      to right,
      rgba(175, 185, 198, 1) 0%,
      rgba(197, 212, 226, 1) 100%
    );
  }
  > .waveObject--4 {
    background-image: linear-gradient(
      to right,
      rgba(167, 177, 188, 1) 0%,
      rgba(197, 212, 226, 1) 100%
    );
  }
}
.bannerBox .bannerAnimationBox::before,
.bannerBox .bannerAnimationBox::after {
  background-color: #91a5c1;
}
.bannerBox .bannerText {
  color: #91a5c1;
  font-size: 5vw;
}

.nav-3 {
  position: relative;
  z-index: 50;
  @include mobile {
    margin-bottom: 5vw;
  }
}
.allianceImageNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0vh auto;
  gap: 1vw;
  position: relative;

  @include mobile {
    gap: 3vw;
    margin: 3vh auto;
  }

  li {
    border: 1px solid #ccc;
    border-bottom: unset;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: relative;

    a {
      display: block;
      padding: 0.8em 3em 0.5em;
      width: 100%;
      height: 100%;

      @include mobile {
        padding: 0.4em 0.3em 0.25em;
      }
    }

    &.active::after {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #eee;
    }

    a.active {
      color: $mainColor;
      cursor: default;
    }

    a:hover {
      color: $mainColor;
    }
  }

  &::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 6%;
    right: 6%;
    height: 1px;
    background-color: #dddddd;
    z-index: -1;
    @include mobile {
      left: 3%;
      right: 3%;
    }
  }
}

section {
  font-family: $mainFontFamily;
}

//主要內容開始
.MasterPage-main {
  position: relative;
  background-image: url("../img/jpg/plan-master/master-bg.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.MasterPage-main-content {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
  @include mobile {
    margin-bottom: 0;
    align-items: center;
    flex-direction: column;
  }
}

.timeline__nav {
  position: sticky;
  z-index: 99;
  top: 0;
  left: 21vw;
  width: 7.5vw;
  transition: top 1s ease-out;
  height: auto;

  @include mobile {
    position: -webkit-sticky;
    position: sticky;
    background-color: #eee;
    width: 90vw;
    left: 5vw;
    overflow: hidden;
  }
}

.timeline__nav::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0.5vw;
  width: 3px;
  height: 60%;
  background-color: $mainColor;
  opacity: 0.3;

  @include mobile {
    display: none;
  }
}

.timeline__nav ul {
  list-style: none;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  min-height: 50vh;

  @include mobile {
    transition: left 1s ease-out;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 0;
    background-color: #eee;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
}

.timeline__nav ul li {
  list-style-type: none;
}

.timeline__nav ul li span {
  padding: 0.25em 2em;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8vw;
  display: inline-block;
  color: $mainColor;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-radius: 0.5em;
  margin-top: 1em;
  letter-spacing: 0.1em;

  @include mobile {
    font-size: 3vw;
    padding: 0.25em 1em;
  }
}

.timeline__nav ul li.active span {
  color: #ffffff;
  background-color: $mainColor;
}
.timeline__nav ul li span:hover {
  color: #ffffff;
  background-color: $mainColor;
}
.MasterPage-main-content {
  position: relative;
}
.MasterPage-main-content-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  position: relative;
  @include mobile {
    width: 100%;
    margin-bottom: 10vw;
  }
}

.MasterPage-main-content-right-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  @include mobile {
    width: 90%;
  }
}
.MasterPage-main-content-right-top-container {
  display: flex;
  justify-content: center;
  width: 100%;
  @include mobile {
    flex-direction: column;
  }
}

.MasterPage-main-content-right-top-img {
  width: 40%;
  @include mobile {
    width: 100%;
  }
}
.MasterPage-main-content-right-top-para {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
  @include mobile {
    width: 100%;
    margin-top: -12vw;
  }
}
.MasterPage-main-content-right-top-p {
  line-height: 1.5;
  margin-top: 1vw;
  font-size: 0.8vw;
  @include mobile {
    font-size: 4vw;
    margin-top: 4vw;
  }
}
.MasterPage-main-content-right-line {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #ae7f46;
  @include mobile {
    margin: 0 auto;
    width: 90%;
  }
}
.line-active {
  position: absolute;
  width: 0.8vw;
  height: 0.8vw;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  background-color: #ae7f46;
  transform: translate(-50%, 0%);
  transition: left 0.3s ease-out;
  @include mobile {
    width: 3vw;
    height: 3vw;
    transform: translate(-15%, 0%);
  }
}

.MasterPage-main-content-right-bottom {
  display: flex;
  align-items: center;
  margin-top: 1vw;
  margin-bottom: 3vw;
  @include mobile {
    margin-top: 3vw;
  }
  > .Master-name {
    font-size: 1vw;
    cursor: pointer;
    @include mobile {
      font-size: 4vw;
    }
  }
  > .line {
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: black;
    margin: 0 2vw;
  }
}
