@import "_config";
@mixin sponsorship-input($para1, $para2) {
  margin-left: $para2;
  width: $para1;
  font-size: 16px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.support-main {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 10%;
  background-color: #f0f0f0;
}

.support-header {
  position: absolute;
  margin-top: -6%;
}
.support-header-img {
  width: 85vw;
  border-radius: 25px;
  background-repeat: no-repeat;
}
.support-main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 85vw;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 10%;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: white;
  > div {
    width: 58vw;
  }
}
.support-main-content-top {
  > h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #ab8350;
  }
}
.support-main-content-top-border-bottom {
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #dddddd;
}

//表格部分
.support-main-content-bottom-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.support-main-content-bottom-form-item {
  display: flex;
  width: 100%;
}
.support-main-content-bottom-form-title {
  display: flex;
  justify-content: space-between;
  width: 15%;
  p {
    font-size: 18px;
    font-weight: 600;
  }
}
.support-main-content-bottom-form-sponsorship {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
  margin-left: 20px;
}
.support-main-content-bottom-form-sponsorship-radio {
  display: flex;
  flex-wrap: wrap;
  > label {
    margin-right: 17px;
    margin-bottom: 20px;
  }
  > input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
}
.support-main-content-bottom-form-sponsorship-number {
  > input {
    @include sponsorship-input(300px, 20px);
    margin-left: 0;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  > input[type="number"] {
    -moz-appearance: textfield;
  }
  > input::placeholder {
    font-size: 18px;
    color: #cccccc;
    line-height: 1.2;
  }
}
.support-main-content-bottom-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8vw;
    border-radius: 30px;
    border: none;
    padding: 0.4em 1.5em 0.4em 1.5em;
    color: white;
    background-color: #b64141;
    font-family: "Noto Sans TC", sans-serif;
  }
}
.sponsorship-unchecked {
  margin-bottom: 0px;
  border: 1px solid #cccccc;
  padding-right: 17px;
  padding-left: 15px;
  border-radius: 5px;
  font-size: larger;
  color: #cccccc;
  cursor: pointer;
}

.sponsorship-checked {
  margin-bottom: 0px;
  border: 1px solid #000000;
  padding-right: 17px;
  padding-left: 15px;
  border-radius: 5px;
  font-size: larger;
  color: #000000;
  cursor: pointer;
}

.support-main-content-bottom-form-item {
  margin-top: 23px;
  margin-right: 20px;
  > select {
    @include sponsorship-input(300px, 20px);
  }
  > input {
    @include sponsorship-input(300px, 20px);
  }
}

.support-main-content-bottom-form-address {
  display: flex;
  flex-wrap: wrap;
  > input {
    @include sponsorship-input(300px, 20px);
  }
}

#twzipcode {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  > div {
    > select {
      @include sponsorship-input(100px, 20px);
      height: 100%;
    }
    > input {
      @include sponsorship-input(150px, 20px);
    }
  }
}

@media screen and (max-width: 500px) {
  .support-main {
    overflow: hidden;
  }
  .support-header {
    position: relative;
    margin-top: 5%;
  }
  .support-header-img {
    width: 1000px;
    border-radius: 0;
  }
  .support-main {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .support-main-content {
    margin-top: 4%;
    margin-bottom: 4%;
    padding-top: 30px;
    padding-bottom: 30px;
    > div {
      width: 82%;
    }
  }
  .support-main-content-top {
    width: 82%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    > h2 {
      font-size: 1.5rem;
    }
  }
  .support-main-content-top-border-bottom {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .support-main-content-bottom-form {
    > div {
      flex-direction: column;
      width: 105%;
    }
    > .support-main-content-top-border-bottom {
      margin-top: 25px;
    }
  }
  .support-main-content-bottom-form-sponsorship-number {
    > input {
      width: 50vw;
    }
  }
  .support-main-content-bottom-form-sponsorship {
    margin-left: 0;
    width: 100%;
  }
  .support-main-content-bottom-form-sponsorship-radio {
    flex-wrap: wrap;
    > label {
      margin-right: 6px;
      margin-bottom: 7px;
    }
  }
  .support-main-content-bottom-form-button {
    margin-top: 20px;
  }
  .sponsorship-checked {
    padding-right: 10px;
    padding-left: 11px;
  }
  .sponsorship-unchecked {
    padding-right: 10px;
    padding-left: 11px;
  }
  .support-main-content-bottom-form-item {
    > input {
      width: 70vw;
      margin-left: 0;
      height: 35px;
    }
    > select {
      width: 70vw;
      margin-left: 0;
      height: 35px;
    }
  }
  .support-main-content-bottom-form-address {
    > input {
      width: 70vw;
      margin-left: 0;
      height: 35px;
    }
  }
  #twzipcode {
    justify-content: flex-end;
    width: 70vw;
    margin-bottom: 10px;
    :nth-child(2) {
      padding-left: 5px;
      padding-right: 5px;
    }
    > div {
      width: 100%;
      > select {
        width: 100%;
        margin-left: 0;
      }
      > input {
        width: 100%;
        margin-left: 0;
      }
    }
  }
  .support-main-content-bottom-form-button {
    > button {
      font-size: 20px;
    }
  }
}
